.request__part .request__title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9696a6;
  margin: 35px 0;
}
.request__part .request__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #f1f2f7;
}
.request__part .request__item .request__img {
  width: 10%;
}

.request__part .request__item .request__img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.request__part .request__item .request__details {
  width: 83%;
  display: flex;
  justify-content: space-between;
}

/* .request__part .request__item .request__details .request__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.request__part .request__item .request__details .request__name h4 {
  font-size: 18px;
  font-weight: 800;
  color: #000;
  margin-bottom: 4px;
  text-transform: capitalize;
}
.request__part .request__item .request__details .request__name h6 {
  font-size: 14px;
  color: #b0b5c7;
}

.request__btn button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  background: #4849a1;
  padding: 6px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
